Slovarik/x64/
Slovarik/Slovarik.sln
Slovarik/TestResults/
Slovarik/.vs
Slovarik/Slovarik/x64/
Slovarik/Slovarik/header.h
Slovarik/Slovarik/Slovarik.vsxproj
Slovarik/Slovarik/Slovarik.vsxproj.filters
Slovarik/Slovarik/Slovarik.vcxproj.user
Slovarik/UnitTest1/x64/
Slovarik/UnitTest1/pch.cpp
Slovarik/UnitTest1/pch.h
Slovarik/UnitTest1/slovar.txt
Slovarik/UnitTest1/UnitTest1.cpp
Slovarik/UnitTest1/UnitTest1.vcxproj
Slovarik/UnitTest1/UnitTest1.vcxproj.filters
Slovarik/UnitTest1/UnitTest1.vcxproj.user


